.thumbnail {
  margin: 10px;
  display: block;
}

.videoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.videoList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.title {
  margin-top: 5px;
  font-size: 14px;
  color: #333;
  text-align: center;
  word-wrap: break-word;
}
