.uploadInput {
  display: inline-block;
  width: auto;
  padding: 8px;
  margin: 0;
  border: 1px solid #ccc;
  background-color: #fff;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; /* Center items horizontally */
  gap: 10px;
  margin: 20px;
}

.textInput {
  width: 25%;
  padding: 8px;
}